/* 
	Required Styles
*/
#aToolTip {
	position: absolute;
	display: none;
	z-index: 50000;
}

	#aToolTip .aToolTipContent {
		position:relative;
		margin:0;
		padding:0;
	}
/* 
	END: Required Styles
*/
/**
	Default Theme
*/
.defaultTheme {
	border:2px solid #F1D031;
	background:#FFFFA3;
	color:#555555;
	margin:0;
	padding:3px 6px;	
	
	-moz-border-radius: 12px 12px 12px 0;
	-webkit-border-radius: 12px 12px 12px 0;
	-khtml-border-radius: 12px 12px 12px 0;
	border-radius: 12px 12px 12px 0;
	
	-moz-box-shadow: 2px 2px 5px #999; /* for Firefox 3.5+ */
	-webkit-box-shadow: 2px 2px 5px #999; /* for Safari and Chrome */
	box-shadow: 2px 2px 5px #999; /* for Safari and Chrome */
}
	
	.defaultTheme #aToolTipCloseBtn {
		display:block;
		height:18px;
		width:18px;
		background:url(../images/closeBtn.png) no-repeat;
		text-indent:-9999px;
		outline:none;
		position:absolute;
		top:-20px;
		right:-30px;
		margin:2px;
		padding:4px;
	}

.topicTheme {
	border:2px solid #F1D031;
	background:#FFFFA3 url(../images/text.png) no-repeat 5px 7px;
	color:#555555;
	margin:0;
	padding:3px 6px 3px 25px;;	
	
	-moz-border-radius: 6px 6px 6px 0;
	-webkit-border-radius: 6px 6px 6px 0;
	-khtml-border-radius: 6px 6px 6px 0;
	border-radius: 6px 6px 6px 0;
}
	
	.topicTheme #aToolTipCloseBtn {
		display:block;
		height:18px;
		width:18px;
		background:url(../images/closeBtn.png) no-repeat;
		text-indent:-9999px;
		outline:none;
		position:absolute;
		top:-20px;
		right:-30px;
		margin:2px;
		padding:4px;
	}
.delTheme {
	border:2px solid #F1D031;
	background:#FFFFA3;
	color:#555555;
	margin:0;
	padding:3px 6px;	
	
	-moz-border-radius: 6px 6px 6px 0;
	-webkit-border-radius: 6px 6px 6px 0;
	-khtml-border-radius: 6px 6px 6px 0;
	border-radius: 6px 6px 6px 0;
}
	
	.delTheme #aToolTipCloseBtn {
		display:block;
		height:18px;
		width:18px;
		background:url(../images/closeBtn.png) no-repeat;
		text-indent:-9999px;
		outline:none;
		position:absolute;
		top:-20px;
		right:-30px;
		margin:2px;
		padding:4px;
	}
